<a href="https://colab.research.google.com/github/RishikeshSaha/Machine-learning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# count the numbers of letters

sentence = "my name is rishi"

l = [i for i in sentence if i!=' ']
print(len(l))

space = sentence.split()
print(space)


l0=[i for i in sentence.split()]
print(len(l0))

13
['my', 'name', 'is', 'rishi']
4

In [ ]:
# count the number of word which are not alpha numaric

s ="This is CSIT 1984"

l=[ i for i in s.split() if i.isalpha()]
print(len(l))



# print the letters having character greater then 4

s ="This is CSIT 1984"

l=[ i for i in s.split() if i.isalpha() and len(i)>=4]
print(len(l))

3
2

In [ ]:
# use a nested list comperiansion to find all the numbers on range 1 to 100 that are divisible by any number by 2 to 9

l= [i for j in range (2,10) for i in range (-100,+100) if i%j==0 ]
print(l)

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, -99, -96, -93, -90, -87, -84, -81, -78, -75, -72, -69, -66, -63, -60, -57, -54, -51, -48, -45, -42, -39, -36, -33, -30, -27, -24, -21, -18, -15, -12, -9, -6, -3, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, -100, -96, -92, -88, -84, -80, -76, -72, -68, -64, -60, -56, -52, -48, -44, -40, -36, -32, -28, -24, -20, -16, -12, -8, -4, 0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, -100, -95, -90, -85, -80, -75, -70, -65, -60, -55, -50, -45, -40, -35, -30, -25, -20, -15, -10, -5, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, -96, -90, -84, -78, -72, -66, -60, -54, -48, -42, -36, -30, -24, -18, -12, -6, 0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, -98, -91, -84, -77, -70, -63, -56, -49, -42, -35, -28, -21, -14, -7, 0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, -96, -88, -80, -72, -64, -56, -48, -40, -32, -24, -16, -8, 0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, -99, -90, -81, -72, -63, -54, -45, -36, -27, -18, -9, 0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]

In [14]:
# get the index and values as a tuple for item in the list

items = ['Hi' , 1.29 , 3 , 4,(0.1,'hi')]

l=[(index,value) for index,value in enumerate(items)]
print(l)

[(0, 'Hi'), (1, 1.29), (2, 3), (3, 4), (4, (0.1, 'hi'))]

In [15]:
 for i in range(0,len(items)-1):
   t = (i,items[0])
   print(t)

(0, 'Hi')
(1, 'Hi')
(2, 'Hi')
(3, 'Hi')

In [16]:
# find the common number using list comprehension

l1=[1,2,3,4,5]
l2=[1,2,3,4,5,6,7,8,9]

l=[ i for i in l1 if(i in l2)]

print(l)
l0 = [i for i in l1 for j in l2 if i==j]
print(l0)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]